In [25]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import train_test_split
from datetime import datetime, timedelta
import numpy as np

In [26]:
ts = pd.read_csv("dolar.csv", index_col=0, parse_dates=True, dayfirst=True, delimiter=";")

In [27]:
ts = ts.resample('d').last().dropna().sort_values(by=['fecha'])

In [28]:
ts

             precio
fecha
2022-10-24  4913.24
2022-10-25  4968.94
2022-10-26  4948.14
2022-10-27  4895.29
2022-10-28  4821.92
...             ...
2023-10-20  4249.71
2023-10-21  4238.85
2023-10-22  4238.85
2023-10-23  4238.85
2023-10-24  4221.39

[366 rows x 1 columns]

In [29]:
df = pd.DataFrame()
df["t-0"] = ts["precio"]
df.index = ts.index
df["t-1"] = ts.shift(1)
df["t-2"] = ts.shift(2)
df["t-3"] = ts.shift(3)
df = df.dropna()

In [30]:
df

                t-0      t-1      t-2      t-3
fecha
2022-10-27  4895.29  4948.14  4968.94  4913.24
2022-10-28  4821.92  4895.29  4948.14  4968.94
2022-10-29  4819.42  4821.92  4895.29  4948.14
2022-10-30  4819.42  4819.42  4821.92  4895.29
2022-10-31  4819.42  4819.42  4819.42  4821.92
...             ...      ...      ...      ...
2023-10-20  4249.71  4227.39  4222.09  4249.00
2023-10-21  4238.85  4249.71  4227.39  4222.09
2023-10-22  4238.85  4238.85  4249.71  4227.39
2023-10-23  4238.85  4238.85  4238.85  4249.71
2023-10-24  4221.39  4238.85  4238.85  4238.85

[363 rows x 4 columns]

In [31]:
X = df.drop('t-0', axis=1)
y = df['t-0']

In [32]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, shuffle=False) #Sin desordenar los datos

In [33]:
X_train

                t-1      t-2      t-3
fecha
2022-10-27  4948.14  4968.94  4913.24
2022-10-28  4895.29  4948.14  4968.94
2022-10-29  4821.92  4895.29  4948.14
2022-10-30  4819.42  4821.92  4895.29
2022-10-31  4819.42  4819.42  4821.92
...             ...      ...      ...
2023-07-03  4177.58  4177.58  4191.28
2023-07-04  4177.58  4177.58  4177.58
2023-07-05  4177.58  4177.58  4177.58
2023-07-06  4177.58  4177.58  4177.58
2023-07-07  4128.08  4177.58  4177.58

[254 rows x 3 columns]

In [34]:
model = KNeighborsRegressor(n_neighbors=20, weights='distance')
model.fit(X_train, y_train)

KNeighborsRegressor(n_neighbors=20, weights='distance')

In [35]:
now = datetime.now() - timedelta(hours=5) 
today = str(now.strftime("%Y-%m-%d"))
today

'2023-10-24'

In [36]:
for i in range(5):
    t1 = np.random.randint(4000, 4500)
    t2 = np.random.randint(4000, 4500)
    t3 = np.random.randint(4000, 4500)

    prueba = pd.DataFrame({'fecha':[today], 't-1': [t1], 't-2': [t2], 't-3': [t3]})
    prueba['fecha'] = pd.to_datetime(prueba['fecha'], format='%Y-%m-%d')
    prueba = prueba.set_index('fecha')
    prueba = prueba.sort_index()
    print(prueba)
    
    valor_predict = model.predict(prueba)
    print(valor_predict)

             t-1   t-2   t-3
fecha
2023-10-24  4007  4410  4099
[4166.38204261]
             t-1   t-2   t-3
fecha
2023-10-24  4413  4004  4022
[4164.33032957]
             t-1   t-2   t-3
fecha
2023-10-24  4458  4441  4130
[4399.17821664]
             t-1   t-2   t-3
fecha
2023-10-24  4084  4206  4165
[4162.24672729]
             t-1   t-2   t-3
fecha
2023-10-24  4421  4422  4389
[4422.06804065]

In [37]:
valor_real = df[df.index == df.index.max()]["t-0"].values
valor_predict = model.predict(X_test)

In [38]:
print(f'valor_real:{valor_real}')
print(f'valor_predict:{valor_predict}')

valor_real:[4221.39]
valor_predict:[4164.55071705 4166.73896262 4170.1311282  4169.99800453 4167.79611636
 4169.30745455 4162.65787221 4161.68141638 4160.60909557 4161.96017689
 4162.02332363 4160.90336053 4161.27214422 4161.30461492 4162.78314677
 4162.80109964 4162.8057996  4162.81120676 4161.36608693 4162.81566188
 4162.84190745 4161.38280226 4161.39920431 4162.89184168 4162.89510585
 4161.42019743 4163.08226356 4163.02573772 4162.72049878 4162.38925015
 4160.89933393 4162.21415809 4162.21415809 4162.22392331 4161.13376818
 4161.33589415 4161.3352408  4162.81882099 4162.80663124 4162.96592648
 4162.85689698 4162.51804156 4160.63121147 4161.29676753 4161.50967071
 4160.39039399 4160.39039399 4160.59683044 4160.67713675 4160.81564858
 4162.12931928 4161.96110406 4160.94470932 4161.15831503 4161.28027649
 4160.66406341 4161.84221092 4160.95109694 4160.98100686 4162.38372935
 4162.38372935 4162.46887675 4162.35551989 4161.06079097 4161.21083107
 4161.24252611 4162.69265676 4162.71920534 4162.73711182 4161.35227186
 4161.38392952 4162.88032414 4162.88905302 4162.88836387 4161.41474335
 4162.91256021 4162.91773758 4163.11724031 4162.87810377 4162.85619974
 4162.85597728 4163.00302867 4162.91723455 4162.48702903 4162.16254064
 4161.00887736 4161.05578878 4162.46721492 4162.50189089 4163.00473305
 4167.86461317 4182.67058068 4372.73567644 4393.95842661 4398.63551245
 4398.63551245 4351.54821685 4192.92938203 4170.2976377  4170.23419705
 4172.98012466 4173.45503396 4173.45503396 4171.43228715 4170.52712241
 4170.29022786 4170.34261326 4173.2289648  4170.44720864]